# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Build files
dist
dist-ssr
*.local
build/
out/
.next/
.firebase/
.vercel
.output

# Environment variables
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache and temporary files
.cache/
.eslintcache
.stylelintcache
*.tmp
*.temp
.DS_Store
Thumbs.db
tsconfig.tsbuildinfo

# Test coverage
coverage/

# Firebase
.firebase/
firebase-debug.log
ui-debug.log
.runtimeconfig.json
*.cache 